<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gamescreen.css') }}">
</head>


<body class="bg-nav">


    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"> -->
              <div style="display: flex;">
                <a class="nav-link mt-15 display-7 active" aria-current="page" href="/"><span>Home</span></a>  
                <a class="nav-link mt-15 display-7 active" aria-current="page" href="/choose_roles"><span>Roles</span></a>
                <a class="nav-link mt-15 display-7" style="float: right;" href="/student_logout"><span>Logout</span></a>
                 </div>    
             <!-- </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/choose_roles">Roles</a>
              </li>
            
          </ul>
        </ul>
        <div>
          <a class="nav-link" href="/student_logout">Logout</a>
        </div>
        </div>
      </div>
    </nav> -->
    <center>
    <div class="divris col-5 mt-100">
        <h3 class="divris2" style="text-align: center;">Information for the last ten weeks</h3>
        <h4><b>Note:</b> The two orders placed before week 1 are 4 and 4 units</h4>
        <table id="table1" cellspacing="2px">
          <tr>
            <td>Week</td>
            <td>Demand</td>
          </tr>
          <tr>
            <td>
              <input type="number" class="form-control" name="week">
            </td>
            <td>
              <input type="number" class="form-control" name="demand">
            </td>
          </tr>
          <tr>
            <td>Incoming Ship</td>
            <td>Outgoing Ship</td>
          </tr>
          <tr>
            <td>
              <input type="number" class="form-control" name="Incoming_Ship">
            </td>
            <td>
              <input type="number" class="form-control" name="Outgoing_Ship">
            </td>
          </tr>
        </table>
      </div>
    </center>
      </body>
      </html>