<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>


<body class="bg-nav">

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"> -->
                <a class="nav-link mt-15 display-7 active" aria-current="page" href="/"><span>Home</span></a>  
              <!-- </li>
            </ul>
          </div>
        </div>
      </nav> -->

    <div class="container-fluid">
      <p>Beer distribution game</p>

      <div class="row">

        <div class="col-sm home">
            <div>
              The beer distribution game (also known as the beer game) is a type of gamification that is used to experience typical coordination problems of a supply chain process.
              It reflects a role-play simulation where several participants play with each other. The game represents a supply chain with a non-coordinated process where problems 
              arise due to lack of information sharing.This game outlines the importance of information sharing, supply chain management and collaboration throughout a supply chain process.
            </div>
        </div>

        <div class="col-sm list-group home">

          <a href="instructor_login" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-4">Instructor Page
          </a>

          <a href="student_login" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-4">Student/Players Page
          </a>

          <a href="game_instructions" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-4">Game General Instructions
          </a>
      </div>
      </div>
    </div>

    <!-- <div class="container-fluid">
        <br><br> -->

        <!-- <div class="list-group">

            <a href="instructor_login" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Instructor Page
                <span class="badge badge-pill badge-primary text-danger">Click here if you are an Instructor</span>
            </a>

            <a href="student_login" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Student/Players Page
                <span class="badge badge-pill badge-primary text-danger">Click here if you are a student</span>
            </a>

            <a href="game_instructions" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Game General Instructions
                <span class="badge badge-pill badge-primary text-danger">Click here for more game instructions</span>
            </a>



        </div> -->
    <!-- </div> -->

<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>